body {
	background: #fff;
}

p, a {
	font-family: "freight-sans-pro", helvetica, sans-serif;
	font-size: 1em;
}

/*************************
/* HEADER
/************************/

header {
	background: #fff;
	margin: 2em 0 2em 0;
}

header nav {
	float: right;
}

header a {
	color: #333;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-left: 2em;
}

header a:hover {
	color: #111;
	border-bottom: 3px solid #111;
	padding-bottom: 3px;
}

header .logo {
	width: 150px;
}

header .logo:hover {
	border-bottom: none;
}

/*************************
/* ABOUT
/************************/

#about {
	background: #fff;
	border: 1em solid #333;
	margin: 0 2em;
}

#about p {
	color: #dcdcdc;
	text-align: center;
	text-transform: uppercase;
}

#about h1 {
	font-family: "athelas", georiga, serif;
	font-size: 3.5em;
	text-align: center;
	color: #333;
	margin: 50px;
}

.partner {
	background: #dcdcdc;
	margin: 50px;
	padding: 30px;
}

/*************************
/* WORK
/************************/

#work p {
	color: #fff;
}

.info {
	max-width: 300px;
	margin: 2em 0 2em 0;
}

.wtitle {
	color: #333;
	text-align: center;
	text-transform: uppercase;
	font-family: "freight-sans-pro", helvetica, sans-serif;
}

#traffic {
	background-image: url(/assets/img/traffic_product@2x.jpg);
	height: 700px;
	background-position: center;
}

/*************************
/* TEAM
/************************/

/*************************
/* CONTACT
/************************/

#contact {
	background: #333;
	height: 450px;
}

/*************************
/* BLOG
/************************/

#blog {
	background: #fff;
	border: 1em solid #333;
	text-align: center;
	font-family: "freight-sans-pro", helvetica neue, sans-serif;
}

#blog article a {
	font-family: "athelas", georiga, serif;
	font-size: 2em;
	color: #323232;
}

#blog article p {
	font-family: "freight-sans-pro", helvetica neue, sans-serif;
}

/*************************
/* RESPONSIVITY
/************************/

.container {
	max-width: 1140px;
	margin-left: auto;
	margin-right: auto;
}
