body {
	background: #fff;
	margin: 0;
        font-family: "Open Sans", Helvetica, sans-serif; 
        line-height: 1.75em;
}

::selection {
	background: #ffb7b7; /* Safari */
	}
::-moz-selection {
	background: #ffb7b7; /* Firefox */
}

.sectionTitle {
	color: #333;
	text-align: center;
	text-transform: uppercase;
	font-family: "Open Sans", helvetica, sans-serif;
	font-size: 1.5em;
	padding: 15px;
}

/*************************
/* HEADER
/************************/

.topbar {
    background: #333;
    color: #fff;
    font-size: 14px;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
}

.topbar p {
  padding: 0 20px;
}

.topbar a {
  text-decoration: none;
  color: #fff;
  border-bottom: 2px solid #fff;
  padding-bottom: 1px;
}

.topbar a:hover {
  border-bottom-color: #aaa;
}

header {
  padding-top: 80px;
  background: #fff;
}

header nav {
	float: right;
	padding-top: 7px;
}

nav a {
	color: #333;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-left: 2em;
}

nav a:hover {
	color: #111;
	border-bottom: 2px solid #111;
	padding-bottom: 1px;
}

header .logo {
	width: 120px;
}

header .logo:hover {
	border-bottom: none;
}

/*************************
/* ABOUT
/************************/

#about {
	background: #fff;
	margin: 0 2em;
	height: auto;
}

#about h1 {
	font-family: "Lora", georiga, serif;
	font-size: 3em;
	text-align: center;
	color: #333;
	margin: 4em 0 1em 0;
}

#about p {
	color: #aaa;
	text-align: center;
	font-size: 95%;
	margin-bottom: 0;
}

#about .companies {
	font-size: 130%;
	margin: 0;
	padding-bottom: 10em;
}

#about .companies a {
	color: #aaa;
	text-decoration: none;
        border-bottom: 2px solid #dcdcdc;
        padding-bottom: 1px;
}

#about .companies a:hover {
	text-decoration: none;
        border-bottom-color: #333;
        color: #333;
}

.clear {
	clear: both;
}

/*************************
/* WORK
/************************/

.info {
	max-width: 400px;
	padding: 80px 0 100px 0;
}

.appStore {
	width: 200px;
	padding-top: 20px;
}

#traffic {
	background: url(/assets/img/traffic_product@2x.jpg) center no-repeat;
	height: 700px;
	background-size: cover;
}

#traffic .tlogo {
	width: 160px;
}

#traffic p {
	color: #fff;
	font-size: 1.1em;
}

#traffic .ttitle {
	font-size: 1.5em;
	font-weight: bold;
}

#surfr {
	background: url(/assets/img/surfr_product2@2x.jpg) center 40% no-repeat;
	height: 700px;
	background-size: cover;
}

#surfr .slogo {
	width: 160px;
}

#surfr p {
	font-size: 1.1em;
	color: #fff;
}

#surfr .info {
	float: right;
}

#surfr .stitle {
	font-size: 1.5em;
	font-weight: bold;
}

/*************************
/* TEAM
/************************/

#team {
	height: auto;
}

.teamMember {
	max-width: 450px;
	float: left;
	padding: 0 0 30px 80px;
}

.teamMember a {
	color: #333;
	text-decoration: none;
	border-bottom: 2px solid #dcdcdc;
	padding-bottom: 1px;
}

.teamMember a:hover {
	border-bottom-color: #333;
}

.teamMember img {
	width: 250px;
	padding-left: 110px;
}

.teamMember .name {
	font-weight: bold;
	font-size: 1.3em;
}

.center {
	padding: 30px 20px;
	text-align: center;
}

.teamMember .sbtn {
	color: #333;
	background: #fff;
	padding: 8px 16px;
	text-decoration: none;
	border: 2px solid #333;
        margin: 0 8px;
}

.teamMember .sbtn:hover {
        background: #333;
        color: #fff;
}

/*************************
/* CONTACT
/************************/

#contact {
	background: #333;
	height: 450px;
	text-align: center;
}

#contact p {
	color: #fff;
}

#contact .ctitle {
	font-size: 2.5em;
}

#contact .intro {
	padding: 10px 0 35px 0;
}

#contact .btn {
	background: #fff;
	color: #333;
	padding: 22px 48px;
	margin: 20px;
	font-size: 1.5em;
	border-bottom: 2px solid #dcdcdc;
	text-decoration: none;
}

#contact .btn:hover {
	border-bottom: 2px solid #fff;
}

#contact .social {
	padding-top: 50px;
}

#contact i {
	color: #fff;
	font-size: 2em;
	margin: 20px;
}

#contact a {
	color: #fff;
	font-size: 95%;
	margin-top: 10px;
}

.social a {
	text-decoration: none;
}

.social i:hover {
	color: #dcdcdc;
}

/*************************
/* RESPONSIVITY
/************************/

.container {
	max-width: 1140px;
	margin: 0 auto;
        padding: 0 20px;
}

@media screen and (min-width: 320px) and (max-width: 600px){
	.topbar {
                font-size: 90%;
        }
        #about {
		margin: 0;
		height: auto;
	}
	header {
		text-align: center;
                padding-top: 160px;
	}
	header .logo {
		padding-bottom: 5px;
		margin-left: 0;
	}
	header nav {
		float: none;
	}
	nav a {
		margin-left: 10px;
	}
	#about h1 {
		font-size: 2em;
		margin: 75px 15px;
                line-height: 1em;
	}
	#about p {
		margin: 10px 15px;
	}
	#about .companies {
		padding-bottom: 2em;
	}
	#about .companies a {
		font-size: 100%;
	}
	#traffic .info, #surfr .info {
		padding-top: 50px;
                font-size: 90%;
	}
        .teamMember {
                max-width: 300px;
                padding-left: 0;
        }
        .teamMember img {
                padding-left: 15px;
        }
}

@media screen and (min-width: 601px) and (max-width: 1024px) {
        header {
                padding-top: 100px;
        }
	#about {
		margin: 0;
		height: auto;
	}
	#about h1 {
		font-size: 3em;
                line-height: 1em;
	}
	#traffic .info, #surfr .info {
		padding: 80px 0 100px 20px;
	}
        .teamMember {
                max-width: 340px;
                padding-left: 20px;
        }
        .teamMember img {
                padding-left: 40px;
        }
}
