body {
	background: #fff;
}

::selection {
	background: #ffb7b7; /* Safari */
	}
::-moz-selection {
	background: #ffb7b7; /* Firefox */
}

p, a {
	font-family: "freight-sans-pro", helvetica, sans-serif;
	font-size: 1.1em;
	line-height: 1.5em;
}

.section_title {
	color: #333;
	text-align: center;
	text-transform: uppercase;
	font-family: "freight-sans-pro", helvetica, sans-serif;
	font-size: 1.5em;
	padding: 10px;
}

/*************************
/* HEADER
/************************/

header {
	background: #fff;
	margin: 2em 0 2em 0;
}

header nav {
	float: right;
	padding-top: 10px;
}

nav a {
	color: #333;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-left: 2em;
}

nav a:hover {
	color: #111;
	border-bottom: 3px solid #111;
	padding-bottom: 3px;
}

header .logo {
	width: 150px;
}

header .logo:hover {
	border-bottom: none;
}

/*************************
/* ABOUT
/************************/

#about {
	background: #fff;
	border: 1em solid #333;
	margin: 0 2em;
	height: auto;
}

#about p {
	color: #ccc;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 90%;
}

#about h1 {
	font-family: "athelas", georiga, serif;
	font-size: 4em;
	text-align: center;
	color: #333;
	margin: 75px;
}

#partner_surfr a {
	background: url(/assets/img/surfr_sprite.png) no-repeat scroll 0 0 transparent;
	display: block;
	width: 150px;
	background-size: 141px 94px;;
	height: 47px;
	margin: 81px 35px 0 0;
	float: left;
}

#partner_surfr a:hover {
	background-position: 0 100%;
}

#partner_envy a {
	background: url(/assets/img/envy_sprite.png) no-repeat scroll 0 0 transparent;
	display: block;
	width: 165px;
	background-size: 165px 156px;;
	height: 78px;
	margin: 50px 35px;
	float: left;
}

#partner_envy a:hover {
	background-position: 0 100%;
}

#partner_realthread a {
	background: url(/assets/img/rt_sprite.png) no-repeat scroll 0 0 transparent;
	display: block;
	width: 100px;
	background-size: 100px 201px;;
	height: 100px;
	margin: 50px 90px;
	float: left;
}

#partner_realthread a:hover {
	background-position: 0 100%;
}

#partner_traffic a {
	background: url(/assets/img/traffic_sprite.png) no-repeat scroll 0 0 transparent;
	display: block;
	width: 190px;
	background-size: 150px 87px;;
	height: 43px;
	margin: 75px 10px 0 10px;
	float: left;
}

#partner_traffic a:hover {
	background-position: 0 100%;
}

#partner_codeschool a {
	background: url(/assets/img/codeschool_sprite.png) no-repeat scroll 0 0 transparent;
	display: block;
	width: 180px;
	background-size: 180px 59px;;
	height: 29px;
	margin: 88px 25px;
	float: left;
}

#partner_codeschool a:hover {
	background-position: 0 100%;
}

.clear {
	clear: both;
}

/*************************
/* WORK
/************************/

.info {
	max-width: 400px;
	padding: 80px 0 100px 0;
}

.appStore {
	width: 200px;
	padding-top: 20px;
}

#traffic {
	background: url(/assets/img/traffic_product@2x.jpg) center no-repeat;
	height: 700px;
	background-size: cover;
}

#traffic .tlogo {
	width: 160px;
}

#traffic p {
	color: #fff;
	font-size: 1.1em;
}

#traffic .ttitle {
	font-size: 1.5em;
	font-weight: bold;
}

#surfr {
	background: url(/assets/img/surfr_product2@2x.jpg) center 40% no-repeat;
	height: 700px;
	background-size: cover;
}

#surfr .slogo {
	width: 160px;
}

#surfr p {
	font-size: 1.1em;
	color: #fff;
}

#surfr .info {
	float: right;
}

#surfr .stitle {
	font-size: 1.5em;
	font-weight: bold;
}

/*************************
/* TEAM
/************************/

#team {
	height: auto;
}

.teamMember {
	max-width: 450px;
	float: left;
	padding: 0 0 25px 90px;
}

.teamMember a {
	color: #333;
	text-decoration: none;
	border-bottom: 2px solid #dcdcdc;
	padding-bottom: 1px;
}

.teamMember a:hover {
	border-bottom: 2px solid #333;
	padding-bottom: 2px;
}

.teamMember img {
	width: 250px;
	padding-left: 110px;
}

.teamMember .name {
	font-weight: bold;
	font-size: 1.3em;
}

.center {
	padding: 30px 20px;
	text-align: center;
}

.teamMember .sbtn {
	color: #fff;
	background: #333;
	padding: 8px 12px;
	text-decoration: none;
	margin-left: 15px;
	border-bottom: 2px solid #dcdcdc;
}

.teamMember .sbtn:hover {
	border-bottom: 2px solid #333;
	padding-bottom: 8px;
}

/*************************
/* CONTACT
/************************/

#contact {
	background: #333;
	height: 450px;
	text-align: center;
}

#contact p {
	color: #fff;
}

#contact .ctitle {
	font-size: 2.5em;
}

#contact .intro {
	padding: 10px 0 35px 0;
}

#contact .btn {
	background: #fff;
	color: #333;
	padding: 22px 48px;
	margin: 20px;
	font-size: 1.5em;
	border-bottom: 2px solid #dcdcdc;
	text-decoration: none;
}

#contact .btn:hover {
	border-bottom: 2px solid #fff;
}

#contact .social {
	padding-top: 50px;
}

#contact i {
	color: #fff;
	font-size: 2em;
	margin: 20px;
}

.social a {
	text-decoration: none;
}

.social i:hover {
	color: #dcdcdc;
}

/*************************
/* BLOG
/************************/

#blog {
	background: #fff;
	font-family: "freight-sans-pro", helvetica neue, sans-serif;
	padding-bottom: 100px;
}

article {
	text-align: center;
}

#preview a {
	font-family: "athelas", georiga, serif;
	font-size: 2em;
	color: #323232;
	font-weight: bold;
	text-decoration: none;
}
#preview a:hover {
	color: #111;
	border-bottom: 3px solid #111;
	padding-bottom: 3px;
}

#preview {
	text-align: center;
}
#blog article h1 {
	font-family: "athelas", georiga, serif;
	color: #323232;
	font-weight: bold;
	text-decoration: none;
}

#blog article p {
	font-family: "freight-sans-pro", helvetica neue, sans-serif;
	text-align: left;
}

/*************************
/* RESPONSIVITY
/************************/

.container {
	max-width: 1140px;
	margin: 0 auto 0 auto;
}

.bcontainer {
	max-width: 600px;
	margin: 0 auto 0 auto;
}

@media screen and (min-width: 320px) and (max-width: 600px){
	#about {
		margin: 0;
		height: auto;
	}
	header {
		text-align: center;
		margin: 1em 0 1em 0;
	}
	header .logo {
		padding-bottom: 5px;
		margin-left: 0;
	}
	header nav {
		float: none;
	}
	#about h1 {
		font-size: 1.5em;
		margin: 20px 10px;
	}
	#about p {
		font-size: .9em;
	}
}

@media screen and (min-width: 601px) and (max-width: 820px) {
	#about {
		margin: 0;
		height: auto;
	}
	#about h1 {
		font-size: 2.3em;
	}
}