<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel "shortcut icon" href="/assets/img/favicon.ico">
        <link rel="stylesheet" type="text/css" href="/components/normalize-css/normalize.css">
        <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
        <link rel="stylesheet" href="/assets/webfonts/ss-social.css">
        <script type="text/javascript">
          var analytics=analytics||[];(function(){var e=["identify","track","trackLink","trackForm","trackClick","trackSubmit","page","pageview","ab","alias","ready","group"],t=function(e){return function(){analytics.push([e].concat(Array.prototype.slice.call(arguments,0)))}};for(var n=0;n<e.length;n++)analytics[e[n]]=t(e[n])})(),analytics.load=function(e){var t=document.createElement("script");t.type="text/javascript",t.async=!0,t.src=("https:"===document.location.protocol?"https://":"http://")+"d2dq2ahtl5zl1z.cloudfront.net/analytics.js/v1/"+e+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(t,n)};
          analytics.load("teii04hr6f");
        </script>
        <script type="text/javascript" src="//use.typekit.net/jgm8isd.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    </head>
    <body>
    	<header>
            <div class="container">
                <a href="/" title="Futura IO"><img src="/assets/img/logo.png" class="logo"></a>
    			<nav>
    				<a href="/#about">About</a>
                    <a href="/#work">Work</a>
                    <a href="/#contact">Contact</a>
    				<a href="/blog">Blog</a>
    			</nav>
            </div>
		</header>
		<main>
        	{{ content }}
        </main>
        <footer id="contact">
          <div class="container">
            <div class="intro">
                <p class="ctitle">Get in Touch</p>
                <p>We're always looking for new people to collaborate on projects with.</p>
                <p>Don't hesitate to reach out.</p>
            </div>
            <a href="mailto:intel@futura.io" class="btn">Email Us</a></br>
            <div class="social"><a href="http://github.com/futuraio"><i class="ss-octocat"></i></a><a href="http://twitter.com/futuraio"><i class="ss-twitter"></i></a></div>
          </div>
        <script>analytics.track('Loaded the Page');</script>
        </footer>
    </body>
</html>
